#parent{
    width: 500px;
    height: 500px;
    background-color: aqua;
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    /* left: 200px; */
    /* left: -50px; */
    /* right: 50px; */
    /* top: 10px ;
    left: 20px; */
    bottom: 20px;
    right: -50px;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
}