/* gradient */

#div1 {
    /* background-image:linear-gradient(direction,color1,color2,color3,.... */
    /* background-image: linear-gradient(to right, red, green, yellow); */
    /* background-image: linear-gradient(to bottom, red, green, yellow); */
    /* background-image: linear-gradient(70deg, red, green, yellow); */
    background-image: linear-gradient(red, green, yellow);
    background-image: linear-gradient(to left, rgba(131, 0, 0, 1), rgba(16, 0, 0, .5), rgba(255, 0, 0, 0));

}

#div2 {
    height: 500px;
    width: 500px;
    /* background-color: brown; */
    background-color: rgba(44, 44, 175, 0.5);
}

#div3 {
    width: 600px;
    height: 800px;
    /* background-image: radial-gradient(circle, red, yellow, blue); */
    background-image: radial-gradient(red 10%, blue 40%, green 50%);
}

#div4 {
    width: 500px;
    height: 500px;
    background-color: aqua;
    /* background-image: conic-gradient(red, yellow, blue); */
    /* background-image: conic-gradient(red 45deg, yellow 90deg, blue 60deg); */
    border-radius: 50%;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg,
            green 180deg, green 270deg, blue 270deg);
}

/* box-shadow: none| h-offset v-offset blur spread color | space inset */
#box_shadow{
    border: 3px solid black;
    padding: 20px;
    /* box-shadow: 5px 20px red ; */
    /* box-shadow: 15px 10px 20px 10px rgb(99, 99, 88); */
    /* box-shadow: 20px 20px 50px 10px blue inset; */
    box-shadow: none;
}

#overflow{
    width: 600px;
    height: 400px;
    background-color: blue;
    border: 2px solid black;
    padding: 20px;
    /* overflow: auto; */
    /* overflow: hidden; */
    overflow: scroll;
}