h1{
    border: 5px solid black;
    padding: 50px;
    margin: 25px;
}

p{
    border: 3px solid black;
    padding: 10px 50px;
    margin: 10px 50px;
}

div{
    width: 1000px;
    height: 200px;
    background-color: aqua;
    border: 4px dotted red;
    padding: 5px 15px 20px 10px;
    margin: 50px 100px 15px 20px;
}

ul{
    background-color: greenyellow;
    border: 5px solid rgb(206, 71, 61);
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px ;
    /* padding-left: 15px; */
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}