#div1{
    background-color: blue;
    /* width: 250px;
    height: 250px;
    float: left;
    padding: 20px; */
    
}

#div2{
    background-color: rgb(159, 192, 38);
    /* width: 250px;
    height: 250px;
    float: right;
    padding: 20px; */
    

}

#div3{
    background-color: rgb(187, 12, 35);
    /* width: 250px;
    height: 250px;
    float: left;
    padding: 20px; */
    

}
 
#div4{
    background-color: rgb(19, 199, 73);
    /* width: 250px;
    height: 250px;
    float: right;
    padding: 20px; */
    
    

}

div{
    float: left;
    width: 25%;
    height: 300px;
}
